<div>
  <h2>Makse</h2>
  <span *ngIf="payment && payment.state === 'CREATED'">
    <div class="section">
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Sissemakse alus</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>{{payment.deklNumber}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Summa</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>{{payment.amount}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Saaja nimi</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>Maksu- ja Tolliamet</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Saaja kood</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>700000349</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Aeg</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>{{payment.date | date: 'dd.MM.yyyy HH:mm'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Võttis vastu</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>{{payment.employee}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
          <div class="form-group row">
            <label class="col-xs-20 col-md-8 col-form-label">Kviitungi number</label>
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
              <div>{{payment.number}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-20 col-md-20 col-lg-20 col-xl-20" style="text-align: right;">
          <div style="display: inline;">
            <button class="btn btn-success" (click)="acceptPayment(0)">Maksa sularahas</button>
            <button class="btn btn-success" (click)="cardPaymentInProgress = true; acceptPayment(10)">Maksa kaardiga</button>
          </div>
        </div>
      </div>
    </div>
  </span>

  <span *ngIf="cardPaymentInProgress">
    <div class="section">
      <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
        <div class="form-group row">
          <label class="col-xs-20 col-md-8 col-form-label"></label>
          <img src="https://maxcdn.icons8.com/wp-content/uploads/2014/03/pos_terminal-1281.png" />
          <div class="progress-simple">
            <div>Maksmine terminalis...</div>
          </div>
        </div>
      </div>
    </div>
  </span>

</div>
