<div class="stylebook-section">
  <h1 class="stylebook-section-title" id="alerts">12. Teated</h1>

  <h2 class="stylebook-section-title" id="alerts-global">12.1 Süsteemiülesed teated</h2>

  <a class="link-gray" href="../frames/uleminek.html">Vt. ülemineku raam</a>

  <h2 class="stylebook-section-title" id="alerts-workarea">12.2 Töölaua teated</h2>

  <div class="row">
    <div class="col-md">
      <div class="alert alert-success fade show">
        <a href="javascript:void(0);" class="close icon-close" data-dismiss="alert" data-toggle="tooltip" tooltip-placement="bottom" tooltip-class="tooltip-icon" tooltip-trigger="hover focus" tooltip-title="Sulgen" aria-label="Sulgen" tabindex="0" data-animation="false" data-original-title="" title=""></a>
        <h3 class="alert-heading">Teade</h3>
        <p class="mb-0">Tegevus edukalt sooritatud!</p>
      </div>
    </div>
    <div class="col-md">
      <code>.alert .alert-success</code>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="alert alert-warning fade show">
        <a href="javascript:void(0);" class="close icon-close" data-dismiss="alert" data-toggle="tooltip" tooltip-placement="bottom" tooltip-class="tooltip-icon" tooltip-trigger="hover focus" tooltip-title="Sulgen" aria-label="Sulgen" tabindex="0" data-animation="false" data-original-title="" title=""></a>
        <h3 class="alert-heading">Füüsiliste isikute tulude deklareerimise aeg on jälle käes!</h3>
        <p class="mb-0">
          <a class="link-gray" href="">Vaata oma eeltäidetud andmeid</a>
          <a class="link-gray" href="">Vaata juhendit</a>
        </p>
      </div>
    </div>
    <div class="col-md">
      <code>.alert .alert-warning</code>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="alert alert-danger fade show">
        <a href="javascript:void(0);" class="close icon-close" data-dismiss="alert" data-toggle="tooltip" tooltip-placement="bottom" tooltip-class="tooltip-icon" tooltip-trigger="hover focus" tooltip-title="Sulgen" aria-label="Sulgen" tabindex="0" data-animation="false" data-original-title="" title=""></a>
        <h3 class="alert-heading">Hoiatus</h3>
        <p class="mb-0">eMTA klienditeenindus on väga koormatud, vastuse saamine võib võtta aega!</p>
      </div>
    </div>
    <div class="col-md">
      <code>.alert .alert-danger</code>
    </div>
  </div>
</div>
