<div class="stylebook-section">
  <h1 class="stylebook-section-title" id="forms">8. Vormid (SELECT osa)</h1>

  <h2 id="form-elements" class="stylebook-section-title">8.1 Vormiväljad (SELECT osa)</h2>
  <form class="row">

    <div class="col-xs-20 col-xl-10">
      <div class="form-group row">
        <label for="select1" class="col-xs-20 col-md-8 col-form-label">Rippmenüü</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            placeholder="Vali..."></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select2" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            disabled="true"
            placeholder="Vali..."></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select3" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (mitmikvalikuga)</label>
        <div class="col-xs-20 col-md-12">
          <emta-multi-select
            [data]="items">
          </emta-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select4" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (max 2 valikut)</label>
        <div class="col-xs-20 col-md-12">
          <emta-multi-select
            [data]="items"
            [maxSelection]="2">
          </emta-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select5" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (max 2 valikut - disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-multi-select
            [data]="items"
            [disabled]="true">
          </emta-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select6" class="col-xs-20 col-md-8 col-form-label">Klassifikaator</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [searchable]="true"
            [data]="items"></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select7" class="col-xs-20 col-md-8 col-form-label">Klassifikaator (disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            [searchable]="true"
            disabled="true"></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select8" class="col-xs-20 col-md-8 col-form-label">Arvuvalik (Piiranguga)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="numbers"
            [numeric]="true"
            placeholder="0"
            [clearable]="false">
          </emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select9" class="col-xs-20 col-md-8 col-form-label">Arvuvalik (Disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="numbers"
            [numeric]="true"
            placeholder="0"
            disabled="true"
            [clearable]="false">
          </emta-select>
        </div>
      </div>

    </div>
  </form>
</div>
