
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Lihtvorm</h1>
    <form>
      <form-section title="group 1">
        <form-row label="somerow">
          <emta-input placeholder="pooh pooh"></emta-input>
        </form-row>
      </form-section>
      <form-section title="group 2 - collapsed" [expanded]="false">
        <form-row label="somerow">
          <emta-input placeholder="hrju hrju"></emta-input>
        </form-row>
      </form-section>
    </form>

  </div>
</div>

<br/>

<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Võrdsetel sammudel baseeruv vorm (horisontaalne)</h1>
    <form>
      <tabs [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>

<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Võrdsetel sammudel baseeruv vorm (vertikaalne)</h1>
    <form>
      <tabs layout="vertical" [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>


<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Protsessipõhine vorm</h1>
    <form>
      <tabs layout="steps" [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>

<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Dialoogipõhine vorm</h1>

  </div>
</div>
