<div class="section">

  <div class="stylebook-section">
    <h1 class="stylebook-section-title" id="forms">10. Staatused</h1>

    <div class="row">
      <div class="col-md"> <badge success>Success</badge> </div>
      <div class="col-md"> <badge warning>Warning</badge> </div>
      <div class="col-md"> <badge level="danger">Achtung</badge> </div>
      <div class="col-md"> <badge level="info">Info</badge> </div>
      <div class="col-md"> <badge>Default</badge> </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md"> <badge success style="small"></badge> </div>
      <div class="col-md"> <badge warning style="small"></badge> </div>
      <div class="col-md"> <badge level="danger"  style="small"></badge> </div>
      <div class="col-md"> <badge level="info"  style="small"></badge> </div>
      <div class="col-md"> <badge style="small">Default</badge> </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md"> <badge success style="with-icon">Success</badge> </div>
      <div class="col-md"> <badge warning style="with-icon">Warning</badge> </div>
      <div class="col-md"> <badge level="danger"  style="with-icon">Achtung</badge> </div>
      <div class="col-md"> <badge level="info"  style="with-icon">info</badge> </div>
      <div class="col-md"> <badge style="with-icon">Default</badge> </div>
    </div>

  </div>

</div>
