<div class="section">

  <div class="stylebook-section">
    <h1 class="stylebook-section-title" id="forms">5. Lingid</h1>

    <div class="links">
      <div class="col-md">
        <div class="row"><a gray>gray</a></div>
        <div class="row"><a gray small>gray small</a></div>
        <div class="row"><a blue>blue</a></div>
        <div class="row"><a blue small>blue small</a></div>
        <div class="row"><a blue>orange</a></div>
        <div class="row"><a blue small>orange small</a></div>
        <div class="row"><a gray href="dfs" target="_blank">gray with redirect icon</a></div>
        <div class="row"><a orange target="_blank">gray with redirect icon</a></div>
      </div>
    </div>
  </div>


</div>
