<div class="stylebook-section">
  <h1 class="stylebook-section-title" id="forms">8. Vormid (SELECT osa)</h1>

  <h2 id="form-elements" class="stylebook-section-title">8.1 Vormiväljad (SELECT osa)</h2>
  <form class="row">

    <div class="col-xs-20 col-xl-10">
      <div class="form-group row">
        <label for="select1" class="col-xs-20 col-md-8 col-form-label">Rippmenüü</label>
        <!--ng-select [allowClear]="true"
                   [items]="items"
                   [disabled]="disabled"
                   (data)="refreshValue($event)"
                   (selected)="selected($event)"
                   (removed)="removed($event)"
                   (typed)="typed($event)"
                   placeholder="No city selected">
        </ng-select-->
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            [simple]="true"
            placeholder="Vali..."></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select2" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            [simple]="true"
            disabled="true"
            placeholder="Vali..."></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select3" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (mitmikvalikuga)</label>
        <div class="col-xs-20 col-md-12">
          <select class="form-control selectpicker clearable bs-select-hidden has-clear" id="select3"
                  multiple="multiple" title="Vali mitu..." data-size="8">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
          </select>
          <div class="btn-group bootstrap-select show-tick form-control clearable">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="select3"
                    title="2015, 2012, 2011, 2010" aria-expanded="false"><span class="filter-option pull-left">2015, 2012, 2011, 2010</span>&nbsp;<span
              class="caret"></span></button>
            <div class="dropdown-menu show" style="max-height: 218px; overflow: hidden;">
              <ul class="dropdown-menu inner" role="menu" style="max-height: 200px; overflow-y: auto;">
                <li data-original-index="0"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2016</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2015</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2014</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2013</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="4" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2012</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="5" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2011</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="6" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2010</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2009</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2008</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2007</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2006</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2005</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2004</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2003</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2002</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2001</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">2000</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="17"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1999</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="18"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1998</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="19"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1997</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="20"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1996</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="21"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1995</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="22"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">1994</span><span
                  class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
          <button class="clear" tabindex="0" data-toggle="tooltip" tooltip-placement="top" tooltip-title="Tühjendan"
                  data-original-title="" title=""></button>
        </div>
      </div>
      <div class="form-group row">
        <label for="select4" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (max 2 valikut)</label>
        <div class="col-xs-20 col-md-12">
          <select class="form-control selectpicker clearable bs-select-hidden" id="select4" multiple="multiple"
                  title="Vali mitu..." data-max-options="2">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
          </select>
          <div class="btn-group bootstrap-select show-tick form-control clearable">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="select4"
                    title="Vali mitu..."><span class="filter-option pull-left">Vali mitu...</span>&nbsp;<span
              class="caret"></span></button>
            <div class="dropdown-menu show">
              <ul class="dropdown-menu inner" role="menu">
                <li data-original-index="0"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2016</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2015</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2014</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2013</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2012</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select5" class="col-xs-20 col-md-8 col-form-label">Rippmenüü (max 2 valikut - disabled)</label>
        <div class="col-xs-20 col-md-12">
          <select class="form-control selectpicker clearable bs-select-hidden" id="select5" multiple="multiple"
                  title="Vali mitu..." data-max-options="2" disabled="disabled">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
          </select>
          <div class="btn-group bootstrap-select show-tick disabled form-control clearable">
            <button type="button" class="btn dropdown-toggle disabled btn-default" data-toggle="tooltip"
                    data-id="select5" title="" tooltip-trigger="hover focus" tooltip-placement="top" tabindex="0"
                    data-animation="false" data-original-title="Disabled input"><span class="filter-option pull-left">Vali mitu...</span>&nbsp;<span
              class="caret"></span></button>
            <div class="dropdown-menu show">
              <ul class="dropdown-menu inner" role="menu">
                <li data-original-index="0"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2016</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2015</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2014</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2013</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2012</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select6" class="col-xs-20 col-md-8 col-form-label">Klassifikaator</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select7" class="col-xs-20 col-md-8 col-form-label">Klassifikaator (disabled)</label>
        <div class="col-xs-20 col-md-12">
          <emta-select
            [data]="items"
            disabled="true"></emta-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="select8" class="col-xs-20 col-md-8 col-form-label">Arvuvalik (Piiranguga)</label>
        <div class="col-xs-20 col-md-12">
          <select class="form-control selectpicker numeric bs-select-hidden" id="select8">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="btn-group bootstrap-select form-control numeric dropup">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="select8"
                    title="5" aria-expanded="false"><span class="filter-option pull-left">5</span>&nbsp;<span
              class="caret"></span></button>
            <div class="dropdown-menu show" style="max-height: 401.734px; overflow: hidden; min-height: 85px;">
              <ul class="dropdown-menu inner" role="menu"
                  style="max-height: 383.734px; overflow-y: auto; min-height: 67px;">
                <li data-original-index="0" class=""><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">0</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1" class=""><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3" class=""><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">3</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">4</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="5" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="select9" class="col-xs-20 col-md-8 col-form-label">Arvuvalik (Disabled)</label>
        <div class="col-xs-20 col-md-12">
          <select class="form-control selectpicker numeric bs-select-hidden" id="select9" disabled="disabled">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="btn-group bootstrap-select disabled form-control numeric">
            <button type="button" class="btn dropdown-toggle disabled btn-default" data-toggle="tooltip"
                    data-id="select9" title="" tooltip-trigger="hover focus" tooltip-placement="top" tabindex="0"
                    data-animation="false" data-original-title="Disabled input" aria-expanded="false"><span
              class="filter-option pull-left">0</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu show">
              <ul class="dropdown-menu inner" role="menu">
                <li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">0</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">3</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">4</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span
                  class="text">5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
