
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Lihtvorm</h1>
    <form>
      <form-section title="group 1">
        <form-row label="somerow">
          <emta-input placeholder="pooh pooh"></emta-input>
        </form-row>
      </form-section>
      <form-section title="group 2 - collapsed" [expanded]="false">
        <form-row label="somerow">
          <emta-input placeholder="hrju hrju"></emta-input>
        </form-row>
      </form-section>
    </form>

  </div>
</div>

<br/>

<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Võrdsetel sammudel baseeruv vorm (horisontaalne)</h1>
    <form>
      <tabs [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>

<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Võrdsetel sammudel baseeruv vorm (vertikaalne)</h1>
    <form>
      <tabs layout="vertical" [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>


<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Protsessipõhine vorm</h1>
    <form>
      <tabs layout="steps" [tabs]="tabs" (tabSwitch)="switchTab($event)">
        {{tabcontent}}
      </tabs>
      <div class="form-footer">
        <button success type="submit">Registreeri</button>
        <button light type="reset">Loobun</button>
      </div>
    </form>
  </div>
</div>

<br/>
<div class="section">
  <div class="stylebook-section">
    <h1 class="stylebook-section-title">Dialoogipõhine vorm</h1>


    <accordion-block>
      <div class="accordion-header flex-row">
        <div class="flex-item space-3">
          Bloki pealkiri
        </div>
        <div class="flex-item space-2">22 932,00
          <div class="label-comment d-md-none">+2%</div>
        </div>
        <div class="flex-item space-1 d-none d-md-block">
          <div class="label-comment">+2%</div>
        </div>
        <div class="flex-item space-2">9 432,00
          <div class="label-comment d-md-none">+2%</div>
        </div>
        <div class="flex-item space-1 d-none d-md-block">
          <div class="label-comment">+2%</div>
        </div>
      </div>

      <div class="accordion-body form-group">
        <h2 class="text-left">Paar kiiret küsimust veel:</h2>
        <div class="dialog">
          <div class="dialog-label">
            Kas tegid perioodi jooksul tagasimakseid või tasaarveldusi?
          </div>
          <div class="dialog-answer">
            <button class="btn btn-light btn-square">Jah</button>
            <button class="btn btn-light btn-square">Ei</button>
          </div>
        </div>
        <div class="dialog">
          <div class="dialog-label">
            Kas tegid perioodi jooksul tagasimakseid või tasaarveldusi?
          </div>
          <div class="dialog-answer">
            <button class="btn btn-light btn-square">Jah</button>
            <button class="btn btn-light btn-square">Ei</button>
          </div>
        </div>
      </div>
    </accordion-block>
    <accordion-block>
      <div class="accordion-header flex-row">
        <div class="flex-item space-3">
          Bloki pealkiri
        </div>
        <div class="flex-item space-2">22 932,00
          <div class="label-comment d-md-none">+2%</div>
        </div>
        <div class="flex-item space-1 d-none d-md-block">
          <div class="label-comment">+2%</div>
        </div>
        <div class="flex-item space-2">9 432,00
          <div class="label-comment d-md-none">+2%</div>
        </div>
        <div class="flex-item space-1 d-none d-md-block">
          <div class="label-comment">+2%</div>
        </div>
      </div>

      <div class="accordion-body form-group">
        <h2 class="text-left">Paar kiiret küsimust veel:</h2>
        <div class="dialog">
          <div class="dialog-label">
            Kas tegid perioodi jooksul tagasimakseid või tasaarveldusi?
          </div>
          <div class="dialog-answer">
            <button class="btn btn-light btn-square">Jah</button>
            <button class="btn btn-light btn-square">Ei</button>
          </div>
        </div>
        <div class="dialog">
          <div class="dialog-label">
            Kas tegid perioodi jooksul tagasimakseid või tasaarveldusi?
          </div>
          <div class="dialog-answer">
            <button class="btn btn-light btn-square">Jah</button>
            <button class="btn btn-light btn-square">Ei</button>
          </div>
        </div>
      </div>
    </accordion-block>


  </div>
</div>
