datepicker-inner .btn {
  color: black;
}

datepicker-inner .pull-right {
  float: right;
}

/*.glyphicon-chevron-left::before {
  content: "";
}*/

.glyphicon-chevron-left::before {
  content: "<";
}

.glyphicon-chevron-right::before {
  content: ">";
}

.sidebar ul li.active {
  text-decoration: underline;
}

.clear {
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 56px;
    top: 0.2rem;
    z-index: 3
}

@media (min-width: 600px) {
    .clear {
        right:25px;
    }

    .clear::before {
        font-size: 1rem
    }
}

@media (min-width: 900px) {
    .clear {
        right:25px;
    }
}

.clear::before {
    color: #5d6071;
    content: "";
    font-family: 'iconfont';
    font-size: 1.1rem
}

.clear:hover::before {
    color: #0083ba
}

.clear:active {
    outline: 0
}
