<div class="section">
  <div class="stylebook-section">
    <h3 class="stylebook-section-title">Lao detailandmed</h3>
    <div *ngIf="data">
      <form>
        <form-section title="Tegelt see ei pea olema grupis">

          <form-row label="Loa number" name="permitNumber">
            <emta-input name="permitNumber" type="text" [(ngModel)]="data.permitNumber" readonly="true"></emta-input>
          </form-row>

          <form-row label="Loa liik" name="permitType">
            <emta-input name="permitType" type="text" [(ngModel)]="data.permitType"></emta-input>
          </form-row>

          <form-row label="Laopidaja" name="permitType">
            <span class="form-text">{{data.personRegNr}} {{data.personName}}</span>
          </form-row>

        </form-section>

        <div class="form-footer">
          <button class="btn btn-mobile-big btn-light" type="reset" (click)="goBack()">Loobun</button>
          <button class="btn btn-mobile-big btn-success" type="submit" (click)="saveData()">Registreeri</button>
        </div>

      </form>
    </div>
  </div>
</div>
