<div
  style="position: fixed; display: block; bottom: 0px; left: 0px; opacity: 0; visibility: visible; width: 100%; z-index: 999999; font-size: 17px; font-weight: 600; height: 55px; margin-top: -55px; line-height: 55px; text-align: center; transition: opacity 0.3s, margin-top 0.3s; color: rgb(255, 255, 255); background-color: rgb(0, 182, 73);">
  Salvestamine õnnestus
</div>

<h2>{{ "ljs.warehouse.title" | translate }}</h2>

<div class="section">
  <form name="warehouse-search">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-20 mb-4">

          <emta-table [(pagination)]="pager">
            <thead>
            <tr>
              <th sortable="permitNumber" [(sort)]="sort">Loa number</th>
              <th sortable="permitType" [(sort)]="sort">Loa liik</th>
              <th sortable="personName" [(sort)]="sort">Laopidaja</th>
              <th sortable="validFrom" [(sort)]="sort">Kehtivuse algus</th>
              <th sortable="validUntil" [(sort)]="sort">Kehtivuse lõpp</th>
              <th sortable="storableGoods" [(sort)]="sort">Ladustatav kaup</th>
              <th sortable="status" [(sort)]="sort">Staatus</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let row of data | sort: sort | paginate: pager">
              <td><a class="link-blue" href="javascript:void(0);" (click)="selectRow(row.id)">{{row.permitNumber}}</a></td>
              <td>{{row.permitType}}</td>
              <td>{{row.personName}}<br>{{row.personRegNr}}</td>
              <td>{{row.validFrom | date:'dd.MM.yyyy'}}</td>
              <td>{{row.validUntil | date:'dd.MM.yyyy'}}</td>
              <td>{{row.storableGoods}}</td>
              <td>
                <badge *ngIf="row.status !== 'VALID'" level="danger">{{ "ljs.warehouse.invalid" | translate}}</badge>
                <badge *ngIf="row.status === 'VALID'" success>{{ "ljs.warehouse.valid" | translate}}</badge>
              </td>
            </tr>
            </tbody>
          </emta-table>

        </div>
      </div>

    </div>
    <br/>
    <div class="form-footer">
      <button class="btn btn-info btn-with-plus float-right" label="Button" type="button"
        id="add-new-object-of-interest-btn">Uus objekt
      </button>
    </div>
  </form>
</div>
<br/>
<!--search-result [items]="resultList" *ngIf="resultList"></search-result -->
