<div class="btn-group bootstrap-select form-control"
  [class.show]="show"
  [class.disabled]="disabled"
  [class.numeric]="numeric"
  [class.clearable]="clearable"
  [class.searchable]="!simple">
  <button
    type="button"
    class="btn dropdown-toggle btn-default"
    [class.bs-placeholder]="!selected"
    [class.disabled]="disabled"
    data-toggle="dropdown"
    data-id="select6"
    title="2016"
    [attr.aria-expanded]="show"
    (mouseup)="trigger()"
    (keyup.enter)="trigger()"
    #parentButton>
    <span class="filter-option pull-left">{{selected ? displayFunc(selected) : placeholder}}</span>&nbsp;<span
    class="caret"></span>
  </button>
  <div class="dropdown-menu show" style="max-height: 345.172px; overflow: hidden;"
       (keyup)="onKey($event)"
       (keydown)="handleKeydown($event)"
       (blur)="onBlur($event)"
       #dropdownMenu [attr.tabindex]="simple ? 0 : -1" style="outline: none;">
    <div class="bs-searchbox" [hidden]="simple">
      <input type="text" class="form-control" autocomplete="off" #searchInput
             (keyup)="onInput($event.target.value)" (blur)="onBlur($event)" />
    </div>
    <ul class="dropdown-menu inner" role="menu" style="max-height: 302.172px; overflow-y: auto;">
      <li *ngFor="let el of adata | async; let i = index"
          [class.selected]="isSelected(el.value)"
          [class.active]="i == currentIndex" (mouseup)="select(i)">
        <a tabindex="0" class="opt">
          <span class="text">{{el.text}}</span>
        </a>
      </li>
      <li class="no-results" *ngIf="itemsLength === 0">
        {{notFoundText}} {{searchInput.value}}
      </li>
    </ul>
  </div>
  <button class="clear" tabindex="0" data-toggle="tooltip" tooltip-placement="top" tooltip-title="Tühjendan"
          data-original-title="" title="" (mouseup)="clear()" [hidden]="!selected || !clearable"></button>
</div>
