<div class="input-group date">
  <!--input class="form-control"
          #pop="bs-popover"
         [ngModel]="dateText()"
         [popover]="popTemplate"
         placement="bottom"
         container="body"/ -->
  <!--span class="input-group-addon">
    <i class="icon-calendar" aria-hidden></i>
  </span-->
  <my-date-picker name="mydate" [options]="myDatePickerOptions" [ngClass]="{'open': hasFocus === true}"
                  [(ngModel)]="dateValueObject" (dateChanged)="onSelectionDone($event, pop)" (calendarToggle)="onCalendarToggle($event)"></my-date-picker>
</div>
