<div class="form-group row" [ngClass]="{'has-danger': !readOnly && !isValid}">
  <label class="col-xs-20 col-md-8 col-form-label">
    {{ labelText | translate }}
  </label>
  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <span *ngIf="readOnly" class="form-text">{{value}}</span>
      <div *ngIf="!readOnly">
        <input type="text"
               [name]="name"
               [ngModel]="value"
               (ngModelChange)="onChange($event)"
               [placeholder]="placeHolder"
               autocomplete="off"
               class="form-control">
        <div *ngIf="!isValid" class="form-control-feedback">Liiga pikk tekst (lubatud kuni {{maxLength}} sümbolit)</div>
      </div>
  </div>
</div>
