<span *ngIf="type === 'checkbox'">
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" [name]="name" [(ngModel)]="val" (change)="onChange(val)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{label}}</span>
  </label>
</span>

<span *ngIf="type === 'text'">
  <input type="text"
  class="form-control"
  id="{{name}}"
  [name]="name"
  [(ngModel)]="val"
  (change)="onChange(val)"
  [placeholder]="placeholder"
  [readonly]="readonly">
</span>


<span *ngIf="type === 'textarea'">
  <textarea type="text"
    class="form-control textarea"
    id="{{name}}"
    [name]="name"
    [(ngModel)]="val"
    (change)="onChange(val)"
    [placeholder]="placeholder"
    [readonly]="readonly">
  </textarea>
</span>


<span *ngIf="type === 'radio'">
  <label class="custom-control custom-radio">
    <input type="radio"
    class="custom-control-input"
    id="{{name}}"
    [name]="name"
    [(ngModel)]="val"
    (change)="onChange(val)"
    [value]="value">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{label}}</span>
  </label>
</span>
