<div class="btn-group bootstrap-select form-control"
  [class.show]="show"
  [class.disabled]="disabled"
  [class.numeric]="numeric"
  [class.clearable]="clearable"
  [class.searchable]="searchable">
  <button
    type="button"
    class="btn dropdown-toggle btn-default"
    [class.bs-placeholder]="!selected"
    [class.disabled]="disabled"
    data-toggle="dropdown"
    data-id="select6"
    title="2016"
    [attr.aria-expanded]="show"
    (mouseup)="trigger()"
    (keyup.enter)="trigger()"
    #parentButton>
    <span class="filter-option pull-left">{{selected ? displayFunc(selected) : placeholder}}</span>&nbsp;<span
    class="caret"></span>
  </button>
  <emta-select-inner
    [searchable]="searchable"
    [items]="adata | async"
    [selected]="selected ? [selected] : []"
    [notFoundText]="notFoundText"
    (onInput)="onInput($event)"
    (onSelect)="select($event)"
    (onCancel)="close()"
    #inner
    ></emta-select-inner>
  <button class="clear" tabindex="0" data-toggle="tooltip" tooltip-placement="top" tooltip-title="Tühjendan"
          data-original-title="" title="" (mouseup)="clear()" [hidden]="!selected || !clearable"></button>
</div>
