
<span *ngIf="type === 'text'">
  <div class='input-group'>
    <input type="text"
    class="form-control {{!!search ? 'search-control clearable' : ''}}"
    id="{{name}}"
    [name]="name"
    [(ngModel)]="val"
    (change)="onChange(val)"
    [placeholder]="placeholder || ''"
    [readonly]="readonly"
    [required]="required"
    [pattern]="pattern"
    [maxlength]="maxlength"
    [minlength]="minlength"
    >
    <div class="input-group-addon" *ngIf="!!addon">{{addon}}</div>
  </div>
</span>

<span *ngIf="type === 'textarea'">
  <span *ngIf="!!maxlength" id="{{name}}-counter" class="textarea-char-counter">{{maxlength - (val ? val.length : 0) }}</span>
  <textarea type="text"
    class="form-control textarea {{!!maxlength ? 'maxlength' : ''}}"
    id="{{name}}"
    [name]="name"
    [maxlength]="maxlength"
    [(ngModel)]="val"
    (change)="onChange(val)"
    [placeholder]="placeholder || ''"
    [readonly]="readonly"
    [rows]="rows">
  </textarea>
</span>

<span *ngIf="type === 'checkbox'">
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" [name]="name" [(ngModel)]="val" (change)="onChange(val)" [disabled]="disabled">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{label}}</span>
  </label>
</span>

<span *ngIf="type === 'radio'">
  <label class="custom-control custom-radio">
    <input type="radio"
    class="custom-control-input"
    id="{{name}}"
    [name]="name"
    [(ngModel)]="val"
    (change)="onChange(val)"
    [disabled]="disabled"
    [value]="value">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{label}}</span>
  </label>
</span>

<div *ngIf="!isValid()" class="form-control-feedback has-danger">
  <p *ngIf="control.errors.required"> Field required </p>
  <p *ngIf="control.errors.pattern"> Pattern invalid </p>
</div>


