<div class="header" id="workarea_header">
  <nav role="navigation" class="header_menu navbar">
    <div class="container-fluid">
      <div class="row">
        <ul class="col-sm-20 col-md-20 col-lg-20 col-xl-20 nav navbar-nav">
          <div class="mx-1">
            <li class="nav-item"><a>TOTS2</a></li>
            <li class="nav-item"><a href="/tots2-official/inspections">Kontrollülesanded</a></li>
            <li class="nav-item"><a href="/tots2-official/documents">Dokumendid</a></li>
            <li class="nav-item"><a href="/tots2-official/monitoring/rules">Seirereeglid</a></li>
            <li class="nav-item"><a href="/tots2-official/work-schedule/shifts">Töökorraldus</a></li>
            <li class="nav-item"><a href="/tots2-official/calendar/monthly">Kalender</a></li>
            <li class="nav-item"><a href="/tots2-official/preliminary/dashboard">Esmased
              kontrollitoimingud</a></li>
            <li class="nav-item" style="font-weight: bold;"><a
              href="/tots2-official/notification/official-notification">Teavitused</a></li>
          </div>
          <ul class="float-xs-right nav nav-inline"><a class="nav-item user get_popover nav-link">
            <div class="user_avatar">MD</div>
            <div class="user_name hidden-sm-down">Merike Danelson</div>
          </a>
            <li class="nav-item">
              <div style="display: inline;">
                <button class="btn_logout hidden-md-down" label="Button" type="button">Väljun</button>
              </div>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!--nav>
  <a [routerLink]=" ['./'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Search
  </a>
  <a [routerLink]=" ['./search'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Search
  </a>
  <a [routerLink]=" ['./detail'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Detail
  </a>
  <a [routerLink]=" ['./barrel'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Barrel
  </a>
  <a [routerLink]=" ['./about'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    About
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

-->
