<div class="collapse sidebar" id="sidebar-collapse">
  <div class="sidebar-section">
    <a class="sidebar-section-toggle" data-toggle="collapse" href="#collapse-sidebar-section-1" aria-expanded="true" aria-controls="collapse-sidebar-section-1">Menüü</a>
    <i class="icon-drag"></i>
    <div class="collapse show sidebar-section-collapse" id="collapse-sidebar-section-1">
      <ul>
        <li routerLinkActive="active"><a routerLink="login">Sisselogimine</a></li>
        <li><a href="">Minu andmed</a></li>
        <li routerLinkActive="active"><a routerLink="search">Operatiivhuviga objektid</a></li>
        <li><a href="">Erakorraline teavitus</a></li>
        <li><a href="">Üksuse andmed</a></li>
        <li routerLinkActive="active"><a routerLink="payment">Kassa</a></li>
      </ul>
    </div>
  </div>
</div>
