<div class="sidebar mta-ametnik collapse" id="sidebar-collapse" aria-expanded="false">
  <div class="sidebar-section">
    <div class="collapse show sidebar-section-collapse" id="collapse-sidebar-section-1">
      <ul>
        <li *ngFor="let item of getMenuItems()">
          <a [ngClass]="{'sidebar-subsection-toggle': item.children.length > 0, 'collapsed': !item.opened}"
             (click)="item.opened = !item.opened">{{item.name}}</a>
          <div *ngIf="item.children.length > 0" [ngClass]="{'show': item.opened}"
               class="sidebar-section-collapse collapse">
            <ul>
              <li *ngFor="let child of item.children"><a>{{child.name}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
