<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="TOTS2">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/mta_visuaal.ico">
  <link href="assets/css/mta_visuaal.css" rel="stylesheet">
  <!-- <link href="assets/css/app.css" rel="stylesheet"> -->
  <link href="assets/css/select.css" rel="stylesheet">
  <link href="assets/css/datepicker.css" rel="stylesheet">
  <link href="assets/css/session-end.css" rel="stylesheet">

  <title>TOTS2</title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body class="">

  <app>
    Laeme rakendust...
  </app>


  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!--script src="assets/mta_visuaal.js"></script-->

</body>
</html>
