<div
  style="position: fixed; display: block; bottom: 0px; left: 0px; opacity: 0; visibility: visible; width: 100%; z-index: 999999; font-size: 17px; font-weight: 600; height: 55px; margin-top: -55px; line-height: 55px; text-align: center; transition: opacity 0.3s, margin-top 0.3s; color: rgb(255, 255, 255); background-color: rgb(0, 182, 73);">
  Salvestamine õnnestus
</div>

<h2>Operatiivhuviga objektid</h2>

<div class="section">
  <form name="object-of-interest-search">
    <div class="container-fluid">
      <div class="row">


        <div class="col-xs-20 col-md-20 col-lg-20 col-xl-10">
          <form-row label="DEPARTMENT">
            <emta-input readonly="true" [(ngModel)]="firstNameValue" name="department"></emta-input>
          </form-row>
          <form-row label="Objekti tüüp">
            <emta-select
              [data]="objectTypes"
              [(ngModel)]="searchParams.objectType"
              [searchable]="true"
              name="objectType"></emta-select>
          </form-row>
          <form-row label="CODE">
            <emta-input [(ngModel)]="codeValue" name="code" pattern="[0-9]*"></emta-input>
          </form-row>
          <form-row label="FIRSTNAME">
            <emta-input [(ngModel)]="searchParams.firstName" placeholder="Siia käib eesnimi" name="firstName" maxlength="6"></emta-input>
          </form-row>
        </div>


        <div class="col-xs-20 col-md-20 col-lg-20 col-xl-10">
          <form-row label="EMPLOYEE">
            <span class="form-text">Merike Danelson</span>
          </form-row>
          <form-row label="Riik">
            <emta-select
              [foundData]="foundCountries"
              (onSearch)="searchCountries($event)"
              [(ngModel)]="searchParams.country"
              [clearLast]="false"
              [searchable]="true"
              name="country">
            </emta-select>
          </form-row>
          <form-row label="BIRTHDATE">
            <emta-datepicker [(ngModel)]="searchParams.birthdate" name="birthdate"></emta-datepicker>
          </form-row>
          <form-row label="BIRTHDATE">
            <emta-datepicker [(ngModel)]="searchParams.birthdate2" name="birthdate2"></emta-datepicker>
          </form-row>
          <!--form-row label="LASTNAME">
            <emta-input [(ngModel)]="searchParams.lastName" name="firstName" maxlength="6"></emta-input>
          </form-row-->
        </div>


      </div>



      <div class="row">
        <div class="col-xs-20 col-md-20 col-lg-20 col-xl-20" style="text-align: right;">
          <div style="display: inline-block; margin-right: 1rem;">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="showEnded" value=""
              label="Näita lõppenuid"
              class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Näita lõppenuid
              </span>
            </label>
          </div>
          <div style="display: inline;">
            <button label="Tühjendan" type="reset" class="btn btn-light" (click)="resetResult()">Tühjendan</button>
          </div>
          <div style="display: inline;">
            <button class="btn btn-success" type="submit" label="Otsin" (click)="submitState()">Otsin</button>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="form-footer">
      <button class="btn btn-info btn-with-plus float-right" label="Button" type="button" (click)="addNew()"
        id="add-new-object-of-interest-btn">Uus objekt
      </button>
    </div>
  </form>
</div>
<br/>
<search-result [items]="resultList" *ngIf="resultList"></search-result>
