<div
  style="position: fixed; display: block; bottom: 0px; left: 0px; opacity: 0; visibility: visible; width: 100%; z-index: 999999; font-size: 17px; font-weight: 600; height: 55px; margin-top: -55px; line-height: 55px; text-align: center; transition: opacity 0.3s, margin-top 0.3s; color: rgb(255, 255, 255); background-color: rgb(0, 182, 73);">
  Salvestamine õnnestus
</div>
<div style="padding: 40px 20px;">
  <div class="row">
    <div class="col-xs-20 col-sm-20 col-md-3">
      <ul class="nav">
        <li class="my-1 nav-item"><a href="/tots2-official/notification/official-notification"
                                     style="text-decoration: none;">Minu andmed</a></li>
        <li class="my-1 nav-item" style="color: rgb(0, 131, 186); text-decoration: underline;"><a
          href="/tots2-official/notification/objects-of-interest"
          style="text-decoration: none; color: rgb(0, 131, 186);">Operatiivhuviga objektid</a></li>
        <li class="my-1 nav-item"><a href="/tots2-official/notification/violation-notification"
                                     style="text-decoration: none;">Erakorraline teavitus</a></li>
        <li class="my-1 nav-item"><a href="/tots2-official/notification/division-notification"
                                     style="text-decoration: none;">Üksuse andmed</a></li>
      </ul>
    </div>
    <div class="col-xs-20 col-sm-20 col-md-17"
         style="border-left: 1px solid rgba(0, 0, 0, 0.0980392); padding-left: 3rem;">
      <div class="row"><h2>Operatiivhuviga objektid</h2>
        <div>
          <form name="object-of-interest-search" autocomplete="off">
            <div class="row">
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <emta-textinput labelText="ÜKSUS" readOnly="true" [(value)]="firstNameValue"></emta-textinput>

              </div>
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group row">
                  <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8"><label
                    class="col-form-label col-form-label ">Ametnik</label></div>
                  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12"><span
                    class="text">Merike Danelson</span></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group row">
                  <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8"><label
                    class="col-form-label col-form-label ">Objekti tüüp</label></div>
                  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="select-wrapper ">
                      <div class="Select Select--single is-searchable has-value"><input type="hidden"
                                                                                        name="type" value="">
                        <div class="Select-control" style="text-align: left; margin-bottom: 0px;"><span
                          class="Select-multi-value-wrapper" id="react-select-52--value"><div
                          class="Select-value"><span class="Select-value-label" role="option"
                                                     aria-selected="true"
                                                     id="react-select-52--value-item"></span></div><div
                          class="Select-input" style="display: inline-block;"><input role="combobox"
                                                                                     aria-expanded="false"
                                                                                     aria-owns=""
                                                                                     aria-haspopup="false"
                                                                                     aria-activedescendant="react-select-52--value"
                                                                                     value=""
                                                                                     style="width: 5px; box-sizing: content-box;">
                          <div
                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
                        </div></span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group row">
                  <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8"><label
                    class="col-form-label col-form-label ">Riik</label></div>
                  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="select-wrapper ">
                      <div class="Select Select--single is-searchable has-value"><input type="hidden"
                                                                                        name="countryType"
                                                                                        value="">
                        <div class="Select-control" style="text-align: left; margin-bottom: 0px;"><span
                          class="Select-multi-value-wrapper" id="react-select-53--value"><div
                          class="Select-value"><span class="Select-value-label" role="option"
                                                     aria-selected="true"
                                                     id="react-select-53--value-item"></span></div><div
                          class="Select-input" style="display: inline-block;"><input role="combobox"
                                                                                     aria-expanded="false"
                                                                                     aria-owns=""
                                                                                     aria-haspopup="false"
                                                                                     aria-activedescendant="react-select-53--value"
                                                                                     value=""
                                                                                     style="width: 5px; box-sizing: content-box;">
                          <div
                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
                        </div></span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group row">
                  <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8"><label
                    class="col-form-label col-form-label ">Kood</label></div>
                  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <div><input type="text" name="code" value="" placeholder="" label="" autocomplete="off"
                                class="form-control"></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group row">
                  <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8"><label
                    class="col-form-label col-form-label ">Sünniaeg</label></div>
                  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="">
                      <div>
                        <div class="rdt datepicker rdtOpen"><input type="text" class="form-control" value=""
                                                                   id="birthDate" name="birthDate"
                                                                   placeholder="Vali kuupäev">
                          <div class="rdtPicker">
                            <div class="rdtDays">
                              <table>
                                <thead>
                                <tr>
                                  <th class="rdtPrev"><span>‹</span></th>
                                  <th class="rdtSwitch" colspan="5" data-value="2">märts 2017</th>
                                  <th class="rdtNext"><span>›</span></th>
                                </tr>
                                <tr>
                                  <th class="dow">E</th>
                                  <th class="dow">T</th>
                                  <th class="dow">K</th>
                                  <th class="dow">N</th>
                                  <th class="dow">R</th>
                                  <th class="dow">L</th>
                                  <th class="dow">P</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td data-value="27" class="rdtDay rdtOld">27</td>
                                  <td data-value="28" class="rdtDay rdtOld">28</td>
                                  <td data-value="1" class="rdtDay">1</td>
                                  <td data-value="2" class="rdtDay">2</td>
                                  <td data-value="3" class="rdtDay">3</td>
                                  <td data-value="4" class="rdtDay rdtWeekend">4</td>
                                  <td data-value="5" class="rdtDay rdtWeekend">5</td>
                                </tr>
                                <tr>
                                  <td data-value="6" class="rdtDay">6</td>
                                  <td data-value="7" class="rdtDay">7</td>
                                  <td data-value="8" class="rdtDay">8</td>
                                  <td data-value="9" class="rdtDay">9</td>
                                  <td data-value="10" class="rdtDay">10</td>
                                  <td data-value="11" class="rdtDay rdtWeekend">11</td>
                                  <td data-value="12" class="rdtDay rdtWeekend">12</td>
                                </tr>
                                <tr>
                                  <td data-value="13" class="rdtDay">13</td>
                                  <td data-value="14" class="rdtDay">14</td>
                                  <td data-value="15" class="rdtDay">15</td>
                                  <td data-value="16" class="rdtDay">16</td>
                                  <td data-value="17" class="rdtDay rdtToday">17</td>
                                  <td data-value="18" class="rdtDay rdtWeekend">18</td>
                                  <td data-value="19" class="rdtDay rdtWeekend">19</td>
                                </tr>
                                <tr>
                                  <td data-value="20" class="rdtDay">20</td>
                                  <td data-value="21" class="rdtDay">21</td>
                                  <td data-value="22" class="rdtDay">22</td>
                                  <td data-value="23" class="rdtDay">23</td>
                                  <td data-value="24" class="rdtDay">24</td>
                                  <td data-value="25" class="rdtDay rdtWeekend">25</td>
                                  <td data-value="26" class="rdtDay rdtWeekend">26</td>
                                </tr>
                                <tr>
                                  <td data-value="27" class="rdtDay">27</td>
                                  <td data-value="28" class="rdtDay">28</td>
                                  <td data-value="29" class="rdtDay">29</td>
                                  <td data-value="30" class="rdtDay">30</td>
                                  <td data-value="31" class="rdtDay">31</td>
                                  <td data-value="1" class="rdtDay rdtNew rdtWeekend">1</td>
                                  <td data-value="2" class="rdtDay rdtNew rdtWeekend">2</td>
                                </tr>
                                <tr>
                                  <td data-value="3" class="rdtDay rdtNew">3</td>
                                  <td data-value="4" class="rdtDay rdtNew">4</td>
                                  <td data-value="5" class="rdtDay rdtNew">5</td>
                                  <td data-value="6" class="rdtDay rdtNew">6</td>
                                  <td data-value="7" class="rdtDay rdtNew">7</td>
                                  <td data-value="8" class="rdtDay rdtNew rdtWeekend">8</td>
                                  <td data-value="9" class="rdtDay rdtNew rdtWeekend">9</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <emta-textinput labelText="EESNIMI" [(value)]="firstNameValue" placeHolder="mai pleiss hõulder" name="firstName" maxLength="6"></emta-textinput>
              </div>
              <div class="col-xs-20 col-md-10 col-lg-10 col-xl-10">
                <emta-textinput labelText="PERENIMI" name="lastName"></emta-textinput>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-20 col-md-20 col-lg-20 col-xl-20" style="text-align: right;">
                <div style="display: inline-block; margin-right: 1rem;">
                  <div class="form-check"><input type="checkbox" name="showEnded" value=""
                                                 label="Näita lõppenuid" id="checkbox-148975657658520"
                                                 class="form-check-input"><label
                    for="checkbox-148975657658520" class="form-check-label "><!-- react-text: 3112 -->Näita
                    lõppenuid<!-- /react-text --></label></div>
                </div>
                <div style="display: inline;">
                  <button label="Tühjendan" type="reset" class="btn_prm_outlined mx-1">Tühjendan</button>
                </div>
                <div style="display: inline;">
                  <button class="btn_prm_green" type="submit" label="Otsin">Otsin</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <div>
          <div style="display: inline;">
            <div style="display: inline;">
              <button class="btn_prm_blue btn_prm_add_icon float-xs-right" label="Button" type="button"
                      id="add-new-object-of-interest-btn">Uus objekt
              </button>
            </div>
          </div>
          <div class="section">
            <div class="section_title" style="clear: both;"><h3>Otsingu tulemused</h3></div>
            <div class="section_body">
              <div class="table-responsive">
                <div class="col-xs-20" style="height: 16px; margin-top: -16px;">
                  <div class="float-xs-right">
                    <div></div>
                  </div>
                </div>
                <table class="table">
                  <thead>
                  <tr>
                    <th></th>
                    <th class="sorted_asce"><a>
                      <div class="sort_arrows">
                        <div class="sort_asce"></div>
                        <div class="sort_desc"></div>
                      </div><!-- react-text: 3145 -->Objekti tüüp<!-- /react-text --></a></th>
                    <th><a>
                      <div class="sort_arrows">
                        <div class="sort_asce"></div>
                        <div class="sort_desc"></div>
                      </div><!-- react-text: 3151 -->Kood<!-- /react-text --></a></th>
                    <th><a>
                      <div class="sort_arrows">
                        <div class="sort_asce"></div>
                        <div class="sort_desc"></div>
                      </div><!-- react-text: 3157 -->Märksõna<!-- /react-text --></a></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Isik</span></td>
                    <td><span class="text">4781110%</span></td>
                    <td><span class="text">Eesti isik</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Isik</span></td>
                    <td><span class="text">3830619%</span></td>
                    <td><span class="text">testPartialSearch</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Isik</span></td>
                    <td><span class="text"></span></td>
                    <td><span class="text">Georgia 2</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Isik</span></td>
                    <td><span class="text">4721111%</span></td>
                    <td><span class="text">Merike</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Sõiduk</span></td>
                    <td><span class="text">BBB_33</span></td>
                    <td><span class="text">testPartialSearch</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Sõiduk</span></td>
                    <td><span class="text">BB_222</span></td>
                    <td><span class="text">Soomlane</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody class="with-details">
                  <tr>
                    <td style="width: 50px;"><a aria-expanded="false" class="collapse_toggle collapsed"></a>
                    </td>
                    <td style="width: 100px;"><span class="text">Sõiduk</span></td>
                    <td><span class="text">111AAA</span></td>
                    <td><span class="text">Märksõna</span></td>
                    <td class="table_tools">
                      <div><a class="edit"></a>
                        <div style="display: inline;"><a class="delete"></a></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination_block">
                <div class="pagination_total">1-7/7</div>
                <div class="pagination_per_page form-group form-inline"><label for="per_page">Kuva
                  korraga</label><select class="form-control dropdown" name="drop-down">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
