<div class="footer-top">
  <div class="footer-logo">
    <img src="assets/images/logo.svg" alt="Maksu- ja Tolliameti logo">
  </div>

  <div class="footer-quick-links">
    <h2>Kiirelt kätte</h2>
    <ul class="list-with-arrows">
      <li><a class="link-gray" href="https://www.emta.ee/et" target="_blank">Tulu, kulu, käive, kasum</a></li>
      <li><a class="link-gray" href="https://www.emta.ee/et" target="_blank">Aktsiisid, vara, hasartmäng</a></li>
      <li><a class="link-gray" href="https://www.emta.ee/et" target="_blank">Toll, kaubavahetus</a></li>
      <li><a class="link-gray" href="https://www.emta.ee/et" target="_blank">Registreerimine, ettevõtlus</a></li>
      <li><a class="link-gray" href="https://www.emta.ee/et" target="_blank">Maksekorraldus, makse tasumine</a></li>
      <li><a class="link-gray" href="https://www.emta.ee/et/uudised" target="_blank">Uudised, pressiinfo</a></li>
    </ul>
  </div>

  <div>
    <div class="footer-contact">
      <div>
        <div class="footer-contact-icon">
          <i class="icon-messages"></i>
        </div>
      </div>

      <div>
        <a class="link-gray" href="javascript:void(0);" id="open-chat">Alustan vestlust</a>

        <table class="footer-business-hours">
          <tbody>
          <tr>
            <td class="text-muted">Tööaeg:</td>
            <td>
              <p>E-N 8:30 - 16:30<span class="footer-business-hours-divider">, </span></p>
              <p>R 8.30 - 15:30</p>
            </td>
          </tr>
          <tr>
            <td class="text-muted">Hetkel:</td>
            <td class="text-success">Avatud</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="footer-contact">
      <div>
        <div class="footer-contact-icon">
          <i class="icon-phone"></i>
        </div>
      </div>

      <div>
        <table>
          <tbody>
          <tr>
            <th><a class="link-phone" href="tel:+372-880-0811">880 0811</a></th>
            <th>Üldinfo</th>
          </tr>
          <tr>
            <td><a class="link-phone" href="tel:+372-880-0814">880 0814</a></td>
            <td>E-tolli­teenuste klienditugi</td>
          </tr>
          <tr>
            <td><a class="link-phone" href="tel:+372-880-0815">880 0815</a></td>
            <td>E-maksu­teenuste klienditugi</td>
          </tr>
          </tbody>
        </table>

        <a class="link-orange"
           href="https://www.emta.ee/et/kontaktid-ja-ametist/kontaktid-tagasiside/infotelefonid-ja-e-posti-aadressid"
           target="_blank">Kõik kontaktandmed</a>
      </div>
    </div>
  </div>
</div>

<ul class="footer-social">
  <li><a id="scroll-to-top" data-toggle="tooltip" tooltip-trigger="hover focus" tooltip-placement="right" title=""
         tabindex="0" data-animation="false" data-original-title="Üles"><i class="icon-arrow-left"></i></a></li>
  <li class="footer-social-placeholder"></li>
  <li><a href="https://www.facebook.com/maksujatolliamet" target="_blank" data-toggle="tooltip"
         tooltip-trigger="hover focus" tooltip-placement="right" title="" tabindex="0" data-animation="false"
         data-original-title="Facebook"><i class="icon-facebook"></i></a></li>
  <li><a href="https://twitter.com/maksu_tolliamet" target="_blank" data-toggle="tooltip"
         tooltip-trigger="hover focus" tooltip-placement="right" title="" tabindex="0" data-animation="false"
         data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
  <li><a href="https://www.youtube.com/user/MTAvideod" target="_blank" data-toggle="tooltip"
         tooltip-trigger="hover focus" tooltip-placement="right" title="" tabindex="0" data-animation="false"
         data-original-title="YouTube"><i class="icon-youtube"></i></a></li>
  <li><a href="http://foorum.emta.ee/" target="_blank" data-toggle="tooltip" tooltip-trigger="hover focus"
         tooltip-placement="right" title="" tabindex="0" data-animation="false" data-original-title="MTA foorum"><i
    class="icon-forum"></i></a></li>
</ul>

<div class="footer-bottom">
  <div class="footer-bottom-flags">
    <img src="assets/images/flags.svg" alt="Euroopa regionaalarengu fondi logo">
  </div>
  <div class="footer-bottom-text">
    <p>Projekt on rahastatud Euroopa Liidu struktuurifondide toel.</p>
  </div>
</div>
